version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64    # Move platform here, outside of build
    container_name: bags_and_tea_laravel
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    networks:
      - bags-and-tea-network

  web:
    image: nginx:alpine
    container_name: bags_and_tea_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - bags-and-tea-network
    depends_on:
      - app

  db:
    image: mysql:5.7
    platform: linux/amd64    # Add platform here
    container_name: bags_and_tea_mysql
    environment:
      MYSQL_DATABASE: bags-and-tea-db
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3308:3306"
    networks:
      - bags-and-tea-network

  redis:
    image: redis:7-alpine
    container_name: bags_and_tea_redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    networks:
      - bags-and-tea-network

networks:
  bags-and-tea-network:

volumes:
  dbdata:
  redisdata: